[ req ]
default_md = sha512
default_bits = 4096
default_keyfile = /etc/vmware-marvin/ssl/server.pfx
distinguished_name = req_distinguished_name
encrypt_key = no
prompt = no
string_mask = nombstr
req_extensions = v3_req
input_password = testpassword
output_password = testpassword

[ v3_req ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = local
localityName = vsphere
0.organizationName = VMware
organizationalUnitName = VxRailApplianceServer
commonName = VxRail
